{% extends 'MiApp/base.html' %}

{% block content %}
<div class="container mt-5" style="max-width: 720px;">
    <h2 class="text-primary mb-4">Contacto</h2>
    <p>Para cualquier consulta, puedes enviarme un correo electrónico a:</p>
    <p><strong>Email:</strong> julian.lods@gmail.com</p>
    <p>También puedes contactarme a través de mis redes sociales:</p>
    <ul>
        <li><a href="https://www.instagram.com/julianlods" target="_blank" class="text-primary">Instagram</a></li>
        <li><a href="https://github.com/julianlods" target="_blank" class="text-primary">GitHub</a></li>
    </ul>
</div>
{% endblock %}
