{% extends 'MiApp/base.html' %}

{% block content %}
    <div class="container mt-5" style="max-width: 1128px; padding-left: 15px;">
        <h2 class="font-weight-bold mb-4 text-primary">COCINA INTELIGENTE - GESTIÓN DE STOCK</h2>
        <p>Con este sistema, podrás gestionar los artículos de tu cocina de manera fácil y eficiente. Algunas de las funcionalidades que podrás disfrutar son:</p>

        <!-- Lista alineada a la izquierda -->
        <div class="mt-4" style="text-align: left;">
            <ul class="list-unstyled">
                <li><strong>- Estructurar tu cocina</strong></li>
                <li><strong>- Registrar los ingresos</strong></li>
                <li><strong>- Verificar el stock</strong></li>
                <li><strong>- Recibir recetas para que ninguno de tus productos se eche a perder</strong></li>
            </ul>
        </div>
    </div>
{% endblock %}
